:root {
    --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #282024;
    --gray-900: #121214;

    --green-500: #00875f;
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-900);
    color: var(--gray-300); /* Utilização das variaveis que foram criadas no root */
    -webkit-font-smoothing: antialiased; /* Aplica uma padronizacao para fontes, deixando com mais detalhes  */
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 1 rem = 16px no tamanho padrão do HTML, aumenta a acessibilidade para casos em que o usuario aumente a fonte do dispositivo */
}